#projects {
  @extend #about;

  .project-wrapper {
    display: flex;
    flex-direction: column;

    .individual-project {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
      gap: 40px;

      img {
        cursor: pointer;
        width: 100%;
        max-width: 400px;
        max-height: 500px;
        border-radius: 8px;
        box-shadow: 2px 2px 8px rgb(26, 26, 26);
        margin-top: 20px;
        transition: 0.3s;

        &:hover {
          opacity: 0.6;
        }
      }
      .project-info {
        text-align: justify;
        max-width: 400px;

        h2 {
          margin-bottom: 10px;
        }

        .technologies-container {
          display: flex;
          justify-content: left;
          align-items: center;
          margin-top: 25px;

          .technologies {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
              display: inline-block;
              font-size: 50px;
              margin: 0 15px;
            }
          }
        }

        .redux-img {
          box-shadow: none;
          background: transparent;
          height: 60px;
          width: 60px;
        }

        .icon-with-p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 50px;

          p {
            font-size: 16px;
          }
        }

        .project-btns {
          display: flex;
          justify-content: left;

          a {
            @extend .contact-me-btn;
            transform: scale(0.8);
            background: transparent;
            color: var(--secondary-color);
            border-style: solid;
            padding: 5px 10px;

            &::after {
              content: ' >';
            }
          }
        }
      }
    }

    @media screen and (min-width: 996px) {
      .individual-project {
        flex-direction: row;
        gap: 70px;
      }

      .even {
        flex-direction: row-reverse;
      }
    }
  }
}
