/***IMPORTS****/
#about, #projects, #contact {
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  max-width: 90vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-wrapper, #projects .about-wrapper, #contact .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#about .about-wrapper .about-photo-container, #projects .about-wrapper .about-photo-container, #contact .about-wrapper .about-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  width: 70vw;
  margin: 40px 0;
}

#about .about-wrapper .about-photo-container figure, #projects .about-wrapper .about-photo-container figure, #contact .about-wrapper .about-photo-container figure {
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

#about .about-wrapper .about-photo-container figure .about-img-main, #projects .about-wrapper .about-photo-container figure .about-img-main, #contact .about-wrapper .about-photo-container figure .about-img-main {
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 2px 4px 8px #1a1a1a;
          box-shadow: 2px 4px 8px #1a1a1a;
  -webkit-transform: rotateX(15deg) rotateY(-27deg) rotateZ(5deg);
          transform: rotateX(15deg) rotateY(-27deg) rotateZ(5deg);
  -webkit-transition: 1s;
  transition: 1s;
}

#about .about-wrapper .about-photo-container figure .about-img-main:hover, #projects .about-wrapper .about-photo-container figure .about-img-main:hover, #contact .about-wrapper .about-photo-container figure .about-img-main:hover {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#about .about-wrapper .about-content, #projects .about-wrapper .about-content, #contact .about-wrapper .about-content {
  text-align: justify;
  max-width: 550px;
}

@media screen and (min-width: 1100px) {
  #about .about-wrapper, #projects .about-wrapper, #contact .about-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

#home {
  padding-top: 10vh;
  width: 100%;
  /* -----navbar----- */
}

#home nav {
  background: var(--primary-color);
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
}

@media screen and (min-width: 896px) {
  #home nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-img {
  min-width: 80px;
  max-width: 150px;
  cursor: pointer;
}

#logo-text {
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
  color: var(--nav-text-color);
  -webkit-transition: color 1s;
  transition: color 1s;
}

.list-div {
  display: none;
}

.list-div ul li {
  display: inline-block;
  margin: 20px 10px;
  text-align: left;
}

@media screen and (min-width: 896px) {
  .list-div {
    display: block;
  }
}

ul {
  text-align: right;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .list-div ul li {
    margin: 20px;
  }
}

ul li a {
  font-size: 15px;
  text-decoration: none;
  color: var(--nav-text-color);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

ul li a:hover {
  color: var(--hover-color);
}

.cv {
  margin-top: 0 !important;
  padding: 10px !important;
}

.cv i {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 23px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/******LIGHT MODE*****/
#mode {
  position: relative;
  height: 30px;
  width: 80px;
  margin: 10px 20px;
  background: var(--secondary-color);
  border-radius: 15px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*inner ball goes back and forth*/
  /*inner text goes back and forth*/
}

#mode #switch {
  cursor: pointer;
  height: 26px;
  width: 26px;
  margin: 2px 2px;
  background: var(--primary-color);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#mode .switch-active {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

#mode #inner-text {
  font-size: 15px;
  top: 3px;
  right: 10px;
  color: var(--primary-color);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: absolute;
}

#mode .inner-text-active {
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
}

@media screen and (min-width: 896px) {
  #mode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.toggle-bars {
  background: transparent;
  border-style: none;
  font-size: 32px;
  color: var(--secondary-color);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-bars:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: var(--hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 896px) {
  .toggle-bar-container {
    display: none;
  }
}

/*****************SIDEBAR******************/
.sidebar {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: left;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  z-index: 999;
  padding: 20px;
  background: var(--primary-color);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  /**light mode sidebar**/
}

.sidebar #mode-sidebar {
  position: relative;
  height: 30px;
  width: 80px;
  margin: 40px 20px 0 0px;
  background: var(--secondary-color);
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*inner ball goes back and forth*/
  /*inner text goes back and forth*/
}

.sidebar #mode-sidebar .cv {
  margin-top: 0 !important;
  padding: 10px !important;
}

.sidebar #mode-sidebar .cv i {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 23px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar #mode-sidebar #switch-sidebar {
  cursor: pointer;
  height: 26px;
  width: 26px;
  margin: 2px 2px;
  background: var(--primary-color);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.sidebar #mode-sidebar #inner-text-sidebar {
  font-size: 15px;
  top: 3px;
  right: 10px;
  color: var(--primary-color);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: absolute;
}

.sidebar #mode-sidebar .switch-active-sidebar {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.sidebar #mode-sidebar .inner-text-active-sidebar {
  -webkit-transform: translateX(-26px);
          transform: translateX(-26px);
}

.sidebar.show-sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 1px 8px var(--hover-color);
          box-shadow: 2px 1px 8px var(--hover-color);
}

.sidebar ul {
  text-align: left;
  margin-top: 30px;
}

.sidebar ul li {
  cursor: pointer;
  padding: 10px;
}

.sidebar ul li a:hover {
  color: var(--hover-color);
}

.sidebar ul li a {
  cursor: pointer;
  color: var(--secondary-color);
}

/***************** END SIDEBAR******************/
/* ---main--- */
.main {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 896px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.left-column {
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-column {
  max-width: 700px;
  width: 100%;
  position: relative;
}

/* ---img box--- */
.img-box {
  width: 200px;
  height: 200px;
  background: var(--main-color);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 50px 0;
  -webkit-transition: ease-out 2s;
  transition: ease-out 2s;
}

.img-box:hover {
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 600px) {
  .img-box {
    width: 280px;
    height: 280px;
  }
}

.img-main {
  width: 240px;
  height: 220px;
  top: 2px;
  left: -15px;
  border-radius: 50%;
  position: absolute;
  padding-top: 20px;
}

@media screen and (min-width: 600px) {
  .img-main {
    width: 300px;
    height: 280px;
    top: 2px;
    left: -5px;
  }
}

/* ---content--- */
.content {
  width: 90%;
  margin: auto;
  color: var(--secondary-color);
  -webkit-transition: color 1s;
  transition: color 1s;
}

span {
  color: var(--main-color);
}

.contact-me-btn, .cv, .sidebar #mode-sidebar .cv, #projects .project-wrapper .individual-project .project-info .project-btns a, #contact .contact-wrapper form button {
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-me-btn:hover, .cv:hover, .sidebar #mode-sidebar .cv:hover, #projects .project-wrapper .individual-project .project-info .project-btns a:hover, #contact .contact-wrapper form button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.social-link {
  display: block;
  margin-top: 20px;
  font-size: 30px;
}

.social-link a {
  margin-right: 10px;
  color: var(--main-color);
  -webkit-transition: color 1s;
  transition: color 1s;
}

.social-link a:hover {
  color: var(--secondary-color);
}

#projects .project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .project-wrapper .individual-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  gap: 30px;
}

#projects .project-wrapper .individual-project img {
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 8px #1a1a1a;
          box-shadow: 2px 2px 8px #1a1a1a;
  margin-top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#projects .project-wrapper .individual-project img:hover {
  opacity: 0.6;
}

#projects .project-wrapper .individual-project .project-info {
  text-align: justify;
  max-width: 400px;
}

#projects .project-wrapper .individual-project .project-info h2 {
  margin-bottom: 10px;
}

#projects .project-wrapper .individual-project .project-info .technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 25px;
}

#projects .project-wrapper .individual-project .project-info .technologies-container .technologies li {
  display: inline-block;
  font-size: 40px;
  margin: 0 20px;
}

#projects .project-wrapper .individual-project .project-info .project-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#projects .project-wrapper .individual-project .project-info .project-btns a {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: transparent;
  color: var(--secondary-color);
  border-style: solid;
  padding: 5px 10px;
}

#projects .project-wrapper .individual-project .project-info .project-btns a::after {
  content: ' >';
}

@media screen and (min-width: 996px) {
  #projects .project-wrapper .individual-project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 60px;
  }
  #projects .project-wrapper .odd {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#contact .contact-wrapper p {
  margin-bottom: 40px;
}

#contact .contact-wrapper form textarea {
  height: 150px !important;
}

#contact .contact-wrapper form input, #contact .contact-wrapper form textarea {
  color: var(--secondary-color);
  margin-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  height: 34px;
  background-color: transparent;
}

#contact .contact-wrapper form button {
  width: 100%;
  margin-top: 0 !important;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  background-color: var(--secondary-color);
}

.footer p {
  color: var(--primary-color);
  font-weight: 400;
}

.footer p span {
  color: var(--main-color);
  font-weight: 700;
}

/*******GLOBAL STYLES******/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 38px;
}

:root {
  --main-color: #6c56e1;
  --secondary-color: #edf2fc;
  --primary-color: #212121;
  --nav-color: #6c56e1;
  --nav-text-color: #edf2fc;
  --hover-color: #c0b4cf;
}

.light-mode {
  --secondary-color: #212121;
  --primary-color: #edf2fc;
  --nav-color: #edf2fc;
  --nav-text-color: #6c56e1;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  -webkit-transition: 1s;
  transition: 1s;
}

.underline {
  width: 100px;
  height: 2px;
  background: var(--main-color);
  margin-bottom: 50px;
}
/*# sourceMappingURL=index.css.map */