.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--secondary-color);

  p {
    color: var(--primary-color);
    font-weight: 400;

    span {
      color: var(--main-color);
      font-weight: 700;
    }
  }
}
